body{
    color: #ededed;
    background: #081b29;
}
.sub-title{
    text-align: center;
    font-size: 60px;
    padding-bottom:0px;
    padding-top: 0px;
}
.sub-title span{
    color:#0ef;
}
.gallery
{
  display: flex;
  margin: 65px;
  width:90%;
  height:100%;
  gap:10px;
  
}
.gallery img{
  width:40%;
  height:250px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border: 2px solid  rgb(163, 163, 163);;
  border-radius: 5px;
  transition: all ease 0.5s;


}
.gallery img:hover{
  cursor: pointer;
  width:100%;
  scale:1.1;
}